body {
    background-image: url(../img/mrkrabs.gif);
    background-repeat: no-repeat;
    background-size:auto;
    color: white;
}

img#logo.center {
    height: 100px;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

