body {
    background-image: url(../img/Chef_Flatline.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: rgb(146, 231, 17);
}

aside {
    float: right;
}